# Time: 2022-07-29T08:45:50.641292Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24641  server_id: 2466326977
# Query_time: 432.267129  Lock_time: 0.000603 Rows_sent: 772  Rows_examined: 1608549
use INORG;
SET timestamp=1659083918;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:45:54.562781Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24679  server_id: 2466326977
# Query_time: 436.188624  Lock_time: 0.000548 Rows_sent: 772  Rows_examined: 1608549
SET timestamp=1659083918;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:45:56.477093Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24635  server_id: 2466326977
# Query_time: 438.114857  Lock_time: 0.000907 Rows_sent: 772  Rows_examined: 1608549
SET timestamp=1659083918;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:49:27.515355Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 13051  server_id: 2466326977
# Query_time: 68.187581  Lock_time: 0.000810 Rows_sent: 0  Rows_examined: 2838408
SET timestamp=1659084499;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'

				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:54:29.306694Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33089  server_id: 2466326977
# Query_time: 600.002342  Lock_time: 0.000694 Rows_sent: 0  Rows_examined: 5293173
SET timestamp=1659084269;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2020-01-02' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2020-01-02' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2020-01-02' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2020-01-02' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:54:29.306857Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24639  server_id: 2466326977
# Query_time: 600.002505  Lock_time: 0.000701 Rows_sent: 0  Rows_examined: 5292796
SET timestamp=1659084269;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2020-01-02' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2020-01-02' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2020-01-02' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2020-01-02' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:54:29.310343Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33156  server_id: 2466326977
# Query_time: 600.003511  Lock_time: 0.001122 Rows_sent: 0  Rows_examined: 5294568
SET timestamp=1659084269;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2020-01-02' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2020-01-02' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2020-01-02' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2020-01-02' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						LEFT OUTER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T08:57:50.436341Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 13051  server_id: 2466326977
# Query_time: 469.321222  Lock_time: 0.000643 Rows_sent: 0  Rows_examined: 2935417
SET timestamp=1659084601;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'

				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
2022-07-29T08:57:50.444285Z 33385 [Note] [MY-010914] [Server] Aborted connection 33385 to db: 'INORG' user: 'inorg' host: '10.1.121.193' (Got an error reading communication packets).
2022-07-29T08:57:51.582034Z 33333 [Note] [MY-010914] [Server] Aborted connection 33333 to db: 'INORG' user: 'inorg' host: '10.1.121.193' (Got an error reading communication packets).
# Time: 2022-07-29T09:04:47.187872Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24641  server_id: 2466326977
# Query_time: 309.203117  Lock_time: 0.000913 Rows_sent: 0  Rows_examined: 6244982
SET timestamp=1659085177;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-06' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-06' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-06' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-06' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:04:53.037756Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24679  server_id: 2466326977
# Query_time: 315.032880  Lock_time: 0.000719 Rows_sent: 0  Rows_examined: 6245608
SET timestamp=1659085178;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-06' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-06' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-06' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-06' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:04:58.268346Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24639  server_id: 2466326977
# Query_time: 361.388416  Lock_time: 0.000744 Rows_sent: 0  Rows_examined: 6293820
SET timestamp=1659085136;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-28' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-28' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-28' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-28' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:05:04.635221Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24635  server_id: 2466326977
# Query_time: 367.762711  Lock_time: 0.000598 Rows_sent: 0  Rows_examined: 6294289
SET timestamp=1659085136;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-28' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-28' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-28' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-28' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:06:29.758869Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33403  server_id: 2466326977
# Query_time: 5.992812  Lock_time: 0.000635 Rows_sent: 0  Rows_examined: 2701816
SET timestamp=1659085583;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'

				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:06:44.631820Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33403  server_id: 2466326977
# Query_time: 4.540091  Lock_time: 0.000560 Rows_sent: 2869  Rows_examined: 5738
SET timestamp=1659085600;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'

				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:07:58.119640Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33403  server_id: 2466326977
# Query_time: 17.729612  Lock_time: 0.000632 Rows_sent: 0  Rows_examined: 2707709
SET timestamp=1659085660;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)

				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:08:55.183160Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24638  server_id: 2466326977
# Query_time: 13.347306  Lock_time: 0.001231 Rows_sent: 6705  Rows_examined: 13410
SET timestamp=1659085721;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, NULL AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-04' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-04' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-04' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-04' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:08:55.248585Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 42265  server_id: 2466326977
# Query_time: 13.424111  Lock_time: 0.000816 Rows_sent: 6705  Rows_examined: 13410
SET timestamp=1659085721;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, NULL AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-04' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-04' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-04' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-04' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:08:55.417780Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24640  server_id: 2466326977
# Query_time: 13.593515  Lock_time: 0.000757 Rows_sent: 6705  Rows_examined: 13410
SET timestamp=1659085721;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, NULL AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-04' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-04' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-04' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-04' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:08:56.873580Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33156  server_id: 2466326977
# Query_time: 600.001143  Lock_time: 0.000664 Rows_sent: 0  Rows_examined: 6346894
SET timestamp=1659085136;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-28' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-28' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-28' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-28' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:09:16.742097Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33403  server_id: 2466326977
# Query_time: 4.552113  Lock_time: 0.000537 Rows_sent: 2869  Rows_examined: 5738
SET timestamp=1659085752;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, NULL AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
				WHERE 	1=1

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:09:38.069888Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33089  server_id: 2466326977
# Query_time: 600.005406  Lock_time: 0.000745 Rows_sent: 0  Rows_examined: 6310288
SET timestamp=1659085178;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, IFNULL(SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1),N1.POSITION_NM) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-06' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-06' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-06' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-06' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N1
						ON N1.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND N1.COMPANY_SEQ = O.COMPANY_SEQ
						AND N1.LANG_CD = 'defaultValue'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:16:03.080421Z
# User@Host: erpconv[erpconv] @  [10.1.121.193]  thread_id: 17322  server_id: 2466326977
# Query_time: 21.015987  Lock_time: 0.000198 Rows_sent: 228656  Rows_examined: 228656
SET timestamp=1659086142;
/* ApplicationName=DBeaver 22.0.2 - Main */ SELECT * FROM ERPAPP.HR_ASG_MST;
# Time: 2022-07-29T09:16:08.764931Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 42420  server_id: 2466326977
# Query_time: 6.942241  Lock_time: 0.001000 Rows_sent: 2869  Rows_examined: 5738
SET timestamp=1659086161;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, JOB.CODE_NAME AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE JOB
						ON 	JOB.CODE = O.POSITION_ID
						AND JOB.COMPANY_SEQ = O.COMPANY_SEQ
						AND JOB.CODE_TYPE = 'SSP_JOB_CD'
						AND JOB.LANG_CD = 'ko_KR'
						

				WHERE 	1=1
				AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
				AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:16:55.097255Z
# User@Host: erpconv[erpconv] @  [10.1.121.193]  thread_id: 17322  server_id: 2466326977
# Query_time: 27.754819  Lock_time: 0.000382 Rows_sent: 253584  Rows_examined: 253584
SET timestamp=1659086187;
/* ApplicationName=DBeaver 22.0.2 - Main */ SELECT * FROM ERPAPP.HR_ASG_HIST;
# Time: 2022-07-29T09:17:10.389659Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33024  server_id: 2466326977
# Query_time: 20.926179  Lock_time: 0.000601 Rows_sent: 6642  Rows_examined: 13284
SET timestamp=1659086209;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, JOB.CODE_NAME AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-03' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-03' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-03' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-03' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE JOB
						ON 	JOB.CODE = O.POSITION_ID
						AND JOB.COMPANY_SEQ = O.COMPANY_SEQ
						AND JOB.CODE_TYPE = 'SSP_JOB_CD'
						AND JOB.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:17:10.522802Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 42265  server_id: 2466326977
# Query_time: 20.954341  Lock_time: 0.000588 Rows_sent: 6642  Rows_examined: 13284
SET timestamp=1659086209;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, JOB.CODE_NAME AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-03' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-03' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-03' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-03' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE JOB
						ON 	JOB.CODE = O.POSITION_ID
						AND JOB.COMPANY_SEQ = O.COMPANY_SEQ
						AND JOB.CODE_TYPE = 'SSP_JOB_CD'
						AND JOB.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:17:10.544069Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 24640  server_id: 2466326977
# Query_time: 20.997144  Lock_time: 0.001397 Rows_sent: 6642  Rows_examined: 13284
SET timestamp=1659086209;
SELECT *
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST
			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, JOB.CODE_NAME AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN
						
						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD
						
						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM
						
						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN
				FROM	SSP_POSITION_ORG_HISTORY O
						 
							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ
							 
							AND (O.START_DATE       <=   '2022-07-03' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2022-07-03' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2022-07-03' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2022-07-03' OR EMP.RETIRE_YMD IS NULL)
							 
						 
						 
						INNER JOIN SSP_ORG ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE JOB
						ON 	JOB.CODE = O.POSITION_ID
						AND JOB.COMPANY_SEQ = O.COMPANY_SEQ
						AND JOB.CODE_TYPE = 'SSP_JOB_CD'
						AND JOB.LANG_CD = 'ko_KR'
				WHERE 	1=1
							 
								 
			) AS A
		) AS B
		WHERE TEST = 1
		ORDER BY EMP_ID;
# Time: 2022-07-29T09:21:15.415352Z
# User@Host: inorg[inorg] @  [10.1.121.193]  thread_id: 33403  server_id: 2466326977
# Query_time: 600.001717  Lock_time: 0.000746 Rows_sent: 0  Rows_examined: 2998372
SET timestamp=1659085875;
SELECT *

		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY ORG_POSITION_ID) AS TEST

			FROM
			(
				SELECT  O.SEQ
						, O.COMPANY_SEQ
						, O.ORG_POSITION_ID
						, O.ORG_ID
						, O.SORT_ORDER
						, O.POSITION_ID
						, SUBSTRING(N.POSITION_NM,INSTR(N.POSITION_NM, '_')+1) AS POSITION_NM
						, C.OPT3 AS JOB_LEVEL
						, C.CODE_NAME AS JOB_NM
						, O.LEADER_YN
						, ORG.ORG_NM
						, EMP.EMP_ID
						, EMP.EMP_NO
						, EMP.PERSON_ID
						, EMP.DUAL_YN

						, CONCAT('/orgn', '/api/image/', EMP.EMP_NO) AS EMP_PHOTO
						, EMP.PHOTO_FILE_SEQ
						, EMP.DUTY_CD
						, DUTY.CODE_NAME AS DUTY_NM
						, EMP.POS_CD
						, POS.CODE_NAME AS POS_NM
						, EMP.JOB_CD

						, IFNULL(DUTY.CODE_NAME, POS.CODE_NAME) AS POS_OR_DUTY
						, EMP.EMP_NM

						, EMP.EMAIL
						, EMP.PHONE
						, EMP.EMP_TYPE_CD
						, EMP.ADDR
						, EMP.HIRE_YMD
						, EMP.OPT1 AS EX_YN

				FROM	SSP_POSITION_ORG_HISTORY O

							INNER JOIN SSP_EMP_HISTORY EMP
							ON O.ORG_POSITION_ID = EMP.ORG_POSITION_ID
							AND O.COMPANY_SEQ = EMP.COMPANY_SEQ

							AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
							AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
							AND (EMP.HIRE_YMD       <=   '2010-01-01' OR EMP.HIRE_YMD IS NULL)
							AND (EMP.RETIRE_YMD     >   '2010-01-01' OR EMP.RETIRE_YMD IS NULL)

						INNER JOIN SSP_ORG_HISTORY ORG
						ON	ORG.ORG_ID = O.ORG_ID
						AND ORG.COMPANY_SEQ = O.COMPANY_SEQ
							AND (ORG.ORG_CREATE_DATE       <=   '2010-01-01' OR ORG.ORG_CREATE_DATE IS NULL)
							AND (ORG.ORG_REMOVE_DATE     >   '2010-01-01' OR ORG.ORG_REMOVE_DATE IS NULL)
						LEFT OUTER JOIN SFI_SVC_CODE C
						ON O.POSITION_ID = C.CODE
						AND O.COMPANY_SEQ = C.COMPANY_SEQ
						AND C.CODE_TYPE = 'SSP_JOB_CD'
						AND C.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE DUTY
						ON 	DUTY.CODE = EMP.DUTY_CD
						AND DUTY.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND DUTY.CODE_TYPE = 'SSP_DUTY_CD'
						AND DUTY.LANG_CD = 'ko_KR'
						LEFT OUTER JOIN SFI_SVC_CODE POS
						ON 	POS.CODE = EMP.POS_CD
						AND POS.COMPANY_SEQ = EMP.COMPANY_SEQ
						AND POS.CODE_TYPE = 'SSP_POS_CD'
						AND POS.LANG_CD = 'ko_KR'
						LEFT JOIN SSP_POSITION_NM N
						ON N.ORG_POSITION_ID = O.ORG_POSITION_ID
						AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
						AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)
						AND N.COMPANY_SEQ = O.COMPANY_SEQ
						AND N.LANG_CD = 'ko_KR'
						

				WHERE 	1=1
				AND (O.START_DATE       <=   '2010-01-01' OR O.START_DATE IS NULL)
				AND (O.END_DATE     >   '2010-01-01' OR O.END_DATE IS NULL)

			) AS A
		) AS B

		WHERE TEST = 1
		ORDER BY EMP_ID;
2022-07-29T09:21:15.415545Z 33403 [Note] [MY-010914] [Server] Aborted connection 33403 to db: 'INORG' user: 'inorg' host: '10.1.121.193' (Got an error reading communication packets).
