# Time: 2022-10-11T12:05:32.124822Z
# User@Host: inorg[inorg] @  [10.2.183.152]  thread_id: 995611  server_id: 4116706087
# Query_time: 19.710574  Lock_time: 0.000855 Rows_sent: 2063  Rows_examined: 348073
use INORG;
SET timestamp=1665489912;
SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '500471'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '500471'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		)
		 UNION 
		SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '303624097'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '303624097'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		)
		 UNION 
		SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '610582'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '610582'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		);
# Time: 2022-10-11T12:05:51.880582Z
# User@Host: inorg[inorg] @  [10.2.183.152]  thread_id: 995611  server_id: 4116706087
# Query_time: 19.752901  Lock_time: 0.000394 Rows_sent: 2063  Rows_examined: 348073
SET timestamp=1665489932;
SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '500471'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '500471'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		)
		 UNION 
		SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '303624097'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '303624097'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		)
		 UNION 
		SELECT	E.EMP_ID
		FROM	SSP_POSITION_ORG O
		LEFT JOIN SSP_EMP E
		ON		E.ORG_POSITION_ID = O.ORG_POSITION_ID
		WHERE	O.ORG_POSITION_ID IN (
			WITH RECURSIVE TEMP AS
				(
					SELECT  POS_ORG.ORG_POSITION_ID
					FROM    SSP_POSITION_ORG POS_ORG
					WHERE 	POS_ORG.UP_ORG_POSITION_ID = 	(
															SELECT 	O.ORG_POSITION_ID
															FROM	SSP_EMP E
															INNER JOIN SSP_POSITION_ORG O
															ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
															WHERE	E.EMP_ID = '610582'
														)
					OR		POS_ORG.ORG_POSITION_ID = 	(
														SELECT 	O.ORG_POSITION_ID
														FROM	SSP_EMP E
														INNER JOIN SSP_POSITION_ORG O
														ON		O.ORG_POSITION_ID = E.ORG_POSITION_ID
														WHERE	E.EMP_ID = '610582'
													)
					UNION
					SELECT 	T.ORG_POSITION_ID
					FROM    TEMP W
							JOIN  SSP_POSITION_ORG T
							ON T.UP_ORG_POSITION_ID = W.ORG_POSITION_ID
				)
				SELECT ORG_POSITION_ID FROM TEMP
		);
