# Time: 2022-11-22T01:21:03.123321Z
# User@Host: inorg[inorg] @  [10.2.183.110]  thread_id: 4908443  server_id: 2275959756
# Query_time: 165.216703  Lock_time: 0.014267 Rows_sent: 8  Rows_examined: 1718372
SET timestamp=1669079897;
SELECT	E.PERSON_ID
				, E.EMP_ID
				, E.ORG_ID
				, E.ORG_POSITION_ID
				, E.LEADER_YN
				, E.JOB_CD
				, E.POS_CD
				, E.DUTY_CD
				, P.POSITION_ID
				, IF(P.LEADER_YN = 'Y', 'Yes', 'No') AS LEADER_YES_NO
				, C2.CODE_NAME AS CAREER
				, O1.ADDR AS LOCATION
				, O1.LOCATION_GROUP AS LOCATION_GROUP
				, O1.WORK_SITE AS WORK_SITE
				, S.DOMAIN AS LEGALENTITY_CD
				, S.OPT1 AS COMPANY_CD
				, P.COST_CENTER
				, P.COST_CENTER_INHERIT
				, O1.ORG_ID
				, O1.ORG_ID AS O1_ORG_ID
				, O1.ORG_TYPE_CD AS O1_ORG_TYPE_CD
				, L1.PERSON_ID AS L_PERSON_ID -- 寃몄쭅??寃쎌슦 NULL
				, L1.DUTY_CD AS L_DUTY_CD
				   
					, O2.ORG_ID AS O2_ORG_ID
					, O2.ORG_TYPE_CD AS O2_ORG_TYPE_CD
					, L2.PERSON_ID AS L2_PERSON_ID
					, L2.DUTY_CD AS L2_DUTY_CD
				  
					, O3.ORG_ID AS O3_ORG_ID
					, O3.ORG_TYPE_CD AS O3_ORG_TYPE_CD
					, L3.PERSON_ID AS L3_PERSON_ID
					, L3.DUTY_CD AS L3_DUTY_CD
				  
					, O4.ORG_ID AS O4_ORG_ID
					, O4.ORG_TYPE_CD AS O4_ORG_TYPE_CD
					, L4.PERSON_ID AS L4_PERSON_ID
					, L4.DUTY_CD AS L4_DUTY_CD
				  
					, O5.ORG_ID AS O5_ORG_ID
					, O5.ORG_TYPE_CD AS O5_ORG_TYPE_CD
					, L5.PERSON_ID AS L5_PERSON_ID
					, L5.DUTY_CD AS L5_DUTY_CD
				  
					, O6.ORG_ID AS O6_ORG_ID
					, O6.ORG_TYPE_CD AS O6_ORG_TYPE_CD
					, L6.PERSON_ID AS L6_PERSON_ID
					, L6.DUTY_CD AS L6_DUTY_CD
				  
					, O7.ORG_ID AS O7_ORG_ID
					, O7.ORG_TYPE_CD AS O7_ORG_TYPE_CD
					, L7.PERSON_ID AS L7_PERSON_ID
					, L7.DUTY_CD AS L7_DUTY_CD
				  
					, O8.ORG_ID AS O8_ORG_ID
					, O8.ORG_TYPE_CD AS O8_ORG_TYPE_CD
					, L8.PERSON_ID AS L8_PERSON_ID
					, L8.DUTY_CD AS L8_DUTY_CD
				  
					, O9.ORG_ID AS O9_ORG_ID
					, O9.ORG_TYPE_CD AS O9_ORG_TYPE_CD
					, L9.PERSON_ID AS L9_PERSON_ID
					, L9.DUTY_CD AS L9_DUTY_CD
				  
					, O10.ORG_ID AS O10_ORG_ID
					, O10.ORG_TYPE_CD AS O10_ORG_TYPE_CD
					, L10.PERSON_ID AS L10_PERSON_ID
					, L10.DUTY_CD AS L10_DUTY_CD
				  
					, O11.ORG_ID AS O11_ORG_ID
					, O11.ORG_TYPE_CD AS O11_ORG_TYPE_CD
					, L11.PERSON_ID AS L11_PERSON_ID
					, L11.DUTY_CD AS L11_DUTY_CD
				  
					, O12.ORG_ID AS O12_ORG_ID
					, O12.ORG_TYPE_CD AS O12_ORG_TYPE_CD
					, L12.PERSON_ID AS L12_PERSON_ID
					, L12.DUTY_CD AS L12_DUTY_CD
				  
					, O13.ORG_ID AS O13_ORG_ID
					, O13.ORG_TYPE_CD AS O13_ORG_TYPE_CD
					, L13.PERSON_ID AS L13_PERSON_ID
					, L13.DUTY_CD AS L13_DUTY_CD
				  
					, O14.ORG_ID AS O14_ORG_ID
					, O14.ORG_TYPE_CD AS O14_ORG_TYPE_CD
					, L14.PERSON_ID AS L14_PERSON_ID
					, L14.DUTY_CD AS L14_DUTY_CD
				  
					, O15.ORG_ID AS O15_ORG_ID
					, O15.ORG_TYPE_CD AS O15_ORG_TYPE_CD
					, L15.PERSON_ID AS L15_PERSON_ID
					, L15.DUTY_CD AS L15_DUTY_CD
				  
					, O16.ORG_ID AS O16_ORG_ID
					, O16.ORG_TYPE_CD AS O16_ORG_TYPE_CD
					, L16.PERSON_ID AS L16_PERSON_ID
					, L16.DUTY_CD AS L16_DUTY_CD
				  
					, O17.ORG_ID AS O17_ORG_ID
					, O17.ORG_TYPE_CD AS O17_ORG_TYPE_CD
					, L17.PERSON_ID AS L17_PERSON_ID
					, L17.DUTY_CD AS L17_DUTY_CD
				 
		FROM	SSP_REO_EMP E
		INNER JOIN SFI_COMPANY S
        ON S.SEQ = 3219395
		LEFT JOIN SSP_REO_POSITION_ORG P
		ON 	P.REO_MANAGE_SEQ = @BASE_REO_SEQ
		AND P.ORG_POSITION_ID = E.ORG_POSITION_ID
		LEFT OUTER JOIN SFI_SVC_CODE C
		ON P.POSITION_ID = C.CODE
		AND C.COMPANY_SEQ = 3219395
		AND C.CODE_TYPE = 'SSP_JOB_CD'
		AND C.LANG_CD = 'defaultValue'
		LEFT OUTER JOIN SFI_SVC_CODE C2
        ON C2.CODE_TYPE = 'SSP_JOB_LEVEL'
       	AND C2.COMPANY_SEQ = C.COMPANY_SEQ
        AND C2.CODE = C.OPT3
		AND C2.LANG_CD = 'defaultValue'
		LEFT 	OUTER JOIN  SSP_REO_EMP EE
		ON 		E.PERSON_ID = EE.PERSON_ID
		AND 	EE.REO_MANAGE_SEQ = @BASE_REO_SEQ
		AND 	EE.DUAL_YN = 'N'
		LEFT OUTER JOIN SSP_REO_EMP_CHG CC
		ON 		CC.PERSON_ID = E.PERSON_ID
		AND 	CC.REO_MANAGE_SEQ = '432425126'
		AND 	CC.DUAL_YN ='N'
		LEFT OUTER JOIN (
			SELECT 	O.ORG_ID, O.UP_ORG_ID, O.ORG_NM, O.ORG_TYPE_CD, O.REO_MANAGE_SEQ, O.ADDR, O.LOCATION_GROUP, O.WORK_SITE
			FROM 	SSP_REO_ORG O
			LEFT JOIN SSP_REO_ORG_CHG C
			ON O.ORG_ID = C.ORG_ID
			AND C.REO_MANAGE_SEQ = '432425126'
			WHERE O.REO_MANAGE_SEQ = @BASE_REO_SEQ -- BASE
			AND C.SEQ IS NULL
			UNION ALL
			SELECT O.ORG_ID, O.UP_ORG_ID, O.ORG_NM, O.ORG_TYPE_CD, O.REO_MANAGE_SEQ, O.ADDR, O.LOCATION_GROUP, O.WORK_SITE
			FROM SSP_REO_ORG_CHG O
			WHERE O.REO_MANAGE_SEQ = '432425126'
		) O1 -- org merge
		ON IFNULL(CC.ORG_ID, EE.ORG_ID ) = O1.ORG_ID
		LEFT OUTER JOIN SSP_REO_ORG RO
		ON RO.ORG_ID = O1.ORG_ID
		AND RO.REO_MANAGE_SEQ = @BASE_REO_SEQ
		AND RO.ORG_NM != O1.ORG_NM
		LEFT OUTER JOIN  (
			SELECT 	O.ORG_ID AS ORG_ID
					,IF(E.DUAL_YN IS NULL, O.UP_ORG_ID, IF(E.DUAL_YN != 'Y', O.UP_ORG_ID, OO.ORG_ID)) AS UP_ORG_ID
					,E.DUTY_CD AS DUTY_CD
					,E.DUAL_YN AS DUAL_YN
					,IF(E.DUAL_YN = 'N', E.PERSON_ID, NULL) AS PERSON_ID
			FROM
			(
