# Time: 2022-10-20T06:26:28.151469Z
# User@Host: erpapp[erpapp] @  [10.2.183.105]  thread_id: 2259115  server_id: 2275959756
# Query_time: 77.970844  Lock_time: 0.000793 Rows_sent: 9247  Rows_examined: 249131873
SET timestamp=1666247110;
SELECT XIP.IF_SEND_DT
     , XIP.SEQ_NO
     , XIP.CALC_YYYYMM
     , XIP.SEQNR
     , XIP.INFO_TYPE
     , XIP.USER_ID
     , XIP.EMP_NO
     , XIP.EMP_NAME
     , XIP.EMP_NO_KR
     , XIP.COMPANY_CODE
     , XIP.DIV_CODE
     , XIP.DEPT_CODE
     , XIP.DEPT_NAME
     , XIP.ENERGY_TYPE
     , XIP.TOTAL_HOLD_ENERGY
     , XIP.TOTAL_SEND_ENERGY
     , XIP.MONTHLY_SEND_ENERGY
     , XIP.MONTHLY_RECV_ENERGY
     , (CASE XIP.PAY_METHOD WHEN 'P01' THEN 'C' WHEN 'P02' THEN 'P' ELSE '' END) AS PAY_METHOD
     , DATE_FORMAT(XIP.CRT_DT, '%Y-%m-%d') AS CRT_DT
     , XIP.ATTR1
     , XIP.ATTR2
     , XIP.ATTR3
     , XIP.ATTR4
     , XIP.ATTR5
     , XIP.ATTR6
     , XIP.ATTR7
     , XIP.ATTR8
     , XIP.ATTR9
     , XIP.ATTR10
     , XIP.IF_YN
     , (SELECT (CASE WHEN SUM(CASE WHEN APPR_REQ_ID IS NULL THEN 0 ELSE 1 END) > 0 THEN 'Y' ELSE 'N' END) 
          FROM XLGC_RWD_PEERBONUS_MST
         WHERE CALC_YYYYMM = XIP.CALC_YYYYMM) AS APPR_YN     
  FROM XLGC_RWD_PEERBONUS_IF XIP
WHERE XIP.CALC_YYYYMM = '202210'
AND XIP.SEQNR = ( SELECT MAX(SEQNR)
                FROM XLGC_RWD_PEERBONUS_IF
               WHERE CALC_YYYYMM = XIP.CALC_YYYYMM )
/* [BizActor].[DAC_XLGC_RWD_PeerBonusMgnt].[DAS_XLGC_RWD_RetrievePeerBonusIFList] */;
# Time: 2022-10-20T06:26:28.655365Z
# User@Host: erpapp[erpapp] @  [10.2.183.113]  thread_id: 2238869  server_id: 2275959756
# Query_time: 76.933298  Lock_time: 0.000429 Rows_sent: 9247  Rows_examined: 249131873
SET timestamp=1666247111;
SELECT XIP.IF_SEND_DT
     , XIP.SEQ_NO
     , XIP.CALC_YYYYMM
     , XIP.SEQNR
     , XIP.INFO_TYPE
     , XIP.USER_ID
     , XIP.EMP_NO
     , XIP.EMP_NAME
     , XIP.EMP_NO_KR
     , XIP.COMPANY_CODE
     , XIP.DIV_CODE
     , XIP.DEPT_CODE
     , XIP.DEPT_NAME
     , XIP.ENERGY_TYPE
     , XIP.TOTAL_HOLD_ENERGY
     , XIP.TOTAL_SEND_ENERGY
     , XIP.MONTHLY_SEND_ENERGY
     , XIP.MONTHLY_RECV_ENERGY
     , (CASE XIP.PAY_METHOD WHEN 'P01' THEN 'C' WHEN 'P02' THEN 'P' ELSE '' END) AS PAY_METHOD
     , DATE_FORMAT(XIP.CRT_DT, '%Y-%m-%d') AS CRT_DT
     , XIP.ATTR1
     , XIP.ATTR2
     , XIP.ATTR3
     , XIP.ATTR4
     , XIP.ATTR5
     , XIP.ATTR6
     , XIP.ATTR7
     , XIP.ATTR8
     , XIP.ATTR9
     , XIP.ATTR10
     , XIP.IF_YN
     , (SELECT (CASE WHEN SUM(CASE WHEN APPR_REQ_ID IS NULL THEN 0 ELSE 1 END) > 0 THEN 'Y' ELSE 'N' END) 
          FROM XLGC_RWD_PEERBONUS_MST
         WHERE CALC_YYYYMM = XIP.CALC_YYYYMM) AS APPR_YN     
  FROM XLGC_RWD_PEERBONUS_IF XIP
WHERE XIP.CALC_YYYYMM = '202210'
AND XIP.SEQNR = ( SELECT MAX(SEQNR)
                FROM XLGC_RWD_PEERBONUS_IF
               WHERE CALC_YYYYMM = XIP.CALC_YYYYMM )
/* [BizActor].[DAC_XLGC_RWD_PeerBonusMgnt].[DAS_XLGC_RWD_RetrievePeerBonusIFList] */;
